﻿@model TelefonRehberi.Models.Kullanici

@{
    ViewBag.Title = "Detaylar";
}

<h2>Detaylar</h2>

<div>
    <h4>Kullanıcı</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Birim.BirimAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birim.BirimAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unvan.UnvanAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unvan.UnvanAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.KullaniciId }) |
    @Html.ActionLink("Listeye Dön", "Index")
</p>
