﻿@model IEnumerable<TelefonRehberi.Models.Kullanici>

@{
    ViewBag.Title = "Kullanıcı";
}

<h2>Kullanıcılar</h2>

<p>
    @Html.ActionLink("Yeni Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Birim.BirimAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unvan.UnvanAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Birim.BirimAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unvan.UnvanAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.KullaniciId }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.KullaniciId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.KullaniciId })
        </td>
    </tr>
}

</table>
