﻿@model List<TelefonRehberi.Models.Kullanici>
@{
    ViewBag.Title = "Ünvana Göre Ara";
}
<br />
@using (Html.BeginForm("UnvanaGore", "Home", FormMethod.Post))
{
    <h4>Ünvan Giriniz</h4>
    <input type="text" name="aranan" />
    <input type="submit" value="Ara" />
}
<br />
@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                Birimi
            </th>
            <th>
                Ünvanı
            </th>
            <th>
                Ad Soyad
            </th>
            <th>
                Telefon
            </th>
            <th>
                Mail
            </th>
            <th>
                Faks
            </th>
            <th>
                Adres
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Birim.BirimAd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unvan.UnvanAd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdSoyad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Faks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adres)
                </td>

            </tr>
        }

    </table>

}