﻿@model TelefonRehberi.Models.Birim

@{
    ViewBag.Title = "Detaylar";
}

<h2>Detaylar</h2>

<div>
    <h4>Birim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BirimAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirimAd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.BirimId }) |
    @Html.ActionLink("Listeye Dön", "Index")
</p>
