﻿@model IEnumerable<TelefonRehberi.Models.Birim>

@{
    ViewBag.Title = "Birim";
}

<h2>Birimler</h2>

<p>
    @Html.ActionLink("Yeni Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BirimAd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BirimAd)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.BirimId }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.BirimId }) 
        </td>
    </tr>
}

</table>
