﻿@model TelefonRehberi.Models.Unvan

@{
    ViewBag.Title = "Detaylar";
}

<h2>Detaylar</h2>

<div>
    <h4>Unvan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnvanAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnvanAd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.UnvanId }) |
    @Html.ActionLink("Listeye Dön", "Index")
</p>
