﻿@model IEnumerable<TelefonRehberi.Models.Unvan>

@{
    ViewBag.Title = "Ünvan";
}

<h2>Ünvanlar</h2>

<p>
    @Html.ActionLink("Yeni Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UnvanAd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UnvanAd)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.UnvanId }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.UnvanId }) 
        </td>
    </tr>
}

</table>
